@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(29, 34, 35);
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 100px;
  background-image: url('https://gd-hbimg.huaban.com/32aadfcd70ed919289d904833ae7a95895165d35ffcf1-mPfkjC_fw1200webp');
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#order-card{
  display: flex;
  float: left;
  justify-content: center;
  height: 400px;
  width: 325px;
  margin: 5px;
  }

#display-3{
  margin-top: 300px;
  color:antiquewhite;
}
.btn{
  margin-bottom: 30px;
}

#viewOrder-btn{
  margin-top: 150px;
}